<h1>Shopping List</h1>
<div class="recipe">
  <div class="recipeLeft">
    <h3>Amount of items to buy: <%= @food %></h3>
  </div>
  <div>
    <h3>Value of food needed: <%= @value %></h3>
  </div>
</div>
<table>
  <tr>
    <th>Food</th>
    <th>Quantity</th>
    <th>Price</th>
  </tr>
  <%@recipes.each do |recipe|%>
  <%= render partial: "shared/shoppingItems", locals: { recipe: recipe } %>
  <% end %>
</table>
