<div class="page">
<h1>Public Recipes</h1>
  <div class="flex">
    <div class="recipeLeft">
      <h2>Recipe Name</h2>
      <p>By Guy</p>
    </div>
    <div>
      <h3>Total Food items:</h3>
      <h3>Total Price:</h3>
    </div>
  </div>
</div>