<div class="page">
  <h1>Recipe 2</h1>
  <div class="recipe">
    <div class="recipeLeft">
      <h3>Prepration Time: 1 Hour</h3>
      <h3>Cooking Time: 1 Hour</h3>
      <h3>Description</h3>
    </div>
    <div>
      checkbox
    </div>
  </div>
  <div class="recipe">
    <button>Generate Shopping List</button>
    <button>Add ingredients</button>
  </div>
  <hr>
  <table>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Value</th>
      <th>Actions</th>
    </tr>
    <tr>
      <td>Potato</td>
      <td>10 grams</td>
      <td>$1</td>
      <td>
        <a>Delete</a>
      </td>
    </tr>
    <tr>
      <td>Tomato</td>
      <td>10 Grams</td>
      <td>$2</td>
      <td>
        <a>Delete</a>
      </td>
    </tr>
  </table>
</div>