<tr>
  <td><%=food.food.name%></td>
  <td><%=food.food.measurment_unit%></td>
  <td><%=food.food.price%></td>
  <td>
    <% if can? :manage, @recipe %> 
        <%= button_to 'Delete', user_recipe_recipe_food_path(user_id: @user.id, recipe_id: @recipe.id, id: food.id), method: :delete %>    
    <% end %>
  </td>
</tr>