<div class="page">
  <button>Add Food</button>
  <table>
    <tr>
      <th>Food</th>
      <th>Measurement unit</th>
      <th>Unit price</th>
      <th>Actions</th>
    </tr>
    <%@foods.each do |food|%>
    <%= render partial: "shared/foods", locals: { foods: food } %>
  </table>
</div>